

<div class="card text-bg-success mb-5" style="max-width: 40rem;">
  <div class="card-header"><h1>Хвалися Львів</h1></div>
  <div class="card-body">
    <p>Покажи що вмієш</p>
    <p>Розкажи що виієш</p>
    <p>Зроби як вмієш</p>
    <p>Ти талант</p>
  </div>
</div>