<footer class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small> &copy; <%= link_to "C", class: "text-white" %></small></br>
    <small> &copy; <%= link_to "YouTube", "https://www.youtube.com/", class: "text-white" %></small>
  </div>
</footer>